/* header */
.header {
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}
.header .inner-logo img {
  max-height: 50px;
  max-width: 100px;
}
.header .inner-menu > ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
}
.header .inner-menu > ul > li > a {
  margin-left: 20px;
  text-decoration: none;
}
/* end  header */

/* footer */
.footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
}
/* END footer */

/* box head  */
.box-head {
  margin-bottom: 30px;
}
.box-head .inner-title {
  margin-bottom: 0;
  font-size: 28px;
  font-weight: 600;
  color: #00ffa2;
}
/* end box head  */

/* product item */
.product-item {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
}
.product-item .inner-image {
  width: 100%;
  aspect-ratio: 4/3;
  border-bottom: 1px solid #ddd;
  position: relative;
}
.product-item .inner-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.product-item .inner-featured {
  position: absolute;
  top: 0;
  right: 0;
  background: #ee5474;
  color: white;
  padding: 3px 6px;
  font-weight: 600;
  font-size: 14px;
  border-radius: 8px;
}
.product-item .inner-content {
  padding: 15px;
}
.product-item .inner-content .inner-title {
  font-size: 20px;
  font-weight: 600;
}
.product-item .inner-content .inner-price-new {
  font-size: 18px;
  font-weight: 600;
  color: #00ffa2;
}
.product-item .inner-content .inner-price-old {
  font-size: 18px;
  font-weight: 600;
  color: red;
  text-decoration: line-through;
}
.product-item .inner-content .inner-discount {
  font-size: 14px;
  font-weight: 600;
  color: white;
  background: red;
  display: inline-block;
  padding: 3px 10px;
  border-radius: 8px;
}
/* end product item */

/* sub-menu */
.sub-menu {
  position: relative;
  z-index: 999;
}
.sub-menu ul {
  position: absolute;
  right: 0;
  top: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
  background: #eae9e9;
  min-width: 180px;
  display: none;
}
.sub-menu ul li {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  position: relative;
}
.sub-menu:hover > ul {
  display: block;
}

.sub-menu ul li ul {
  right: 100%;
  top: 0;
}
.sub-menu ul li:hover > ul {
  display: block;
}
/* end sub-menu */

.no-underline {
  text-decoration: none;
  /* color: black; */
}

/* product detail */
.product-detail .inner-thumb img {
  width: 100%;
  height: auto;
}
.product-detail .inner-title {
  font-size: 32px;
  margin-bottom: 15px;
}
.product-detail .inner-category {
  margin-bottom: 10px;
}
.product-detail .inner-price-new {
  color: green;
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 10px;
}
.product-detail .inner-price-old {
  color: red;
  font-weight: 600;
  font-size: 20px;
  text-decoration: line-through;
  margin-bottom: 10px;
}
.product-detail .inner-percent {
  margin-bottom: 10px;
}
.product-detail .inner-percent span {
  color: #fff;
  background: red;
  font-weight: 600;
  display: inline-block;
  padding: 3px 6px;
  border-radius: 8px;
}
.product-detail .inner-stock{
    margin-bottom: 10px;
}
.product-detail .inner-stock span{
    color: #fff;
    background: green;
    border-radius: 3px;
}
/* end product detail */

/* thông báo */
[show-alert]{
  position: fixed;
  top: 70px;
  right: 15px;
  z-index: 9999;
}

[show-alert].alert-hidden{
  animation-duration: 0.5s;
  animation-name: alert-hidden;
  animation-fill-mode: both;
}

@keyframes alert-hidden {
  from{
      right: 15px;
  }
  to{
      right:-100%;
      display: none;
  }
}

[show-alert] [close-alert]{
  background: #ffffffc4;
  display: inline-block;
  width: 24px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  font-weight: 600;
  border-radius: 50%;
  cursor: pointer;
}
/* end thông báo */

/* chat */
.chat {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 15px;
  background-color: #f9f9f9;
  max-width: 600px;
  margin: 0 auto;
}

.chat .inner-body {
  max-height: 400px;
  overflow-y: auto;
  padding-bottom: 15px;
}

.inner-body .inner-incoming,
.inner-body .inner-outcoming {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.inner-body .inner-incoming .inner-name {
  font-weight: bold;
  margin-bottom: 5px;
  color: #333;
}

.inner-body .inner-incoming .inner-content,
.inner-body .inner-outcoming .inner-content {
  background: #eee;
  border-radius: 15px;
  padding: 10px;
  max-width: 70%;
  word-wrap: break-word; /* Đây là thuộc tính giúp xử lý tin nhắn dài */
  word-break: break-word; /* Nếu tin nhắn có từ quá dài thì sẽ tự động ngắt */
  word-break: break-all; /* Thêm thuộc tính này để ngắt từ nếu cần */
  white-space: pre-wrap; /* Giữ nguyên định dạng khoảng trắng và xuống dòng */
}

.inner-body .inner-incoming .inner-content {
  align-self: flex-start;
  background-color: #71f0b1bf;
}

.inner-body .inner-outcoming .inner-content {
  align-self: flex-end;
  background-color: #fe5da3;
}

.chat .inner-foot {
  border-top: 1px solid #ddd;
  padding-top: 10px;
}

.chat .inner-form {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.chat .inner-form input {
  flex: 1;
  height: 32px;
  border: 1px solid #ddd;
  border-radius: 15px;
  padding: 0 10px;
  outline: none;
  transition: border-color 0.3s;
}

.chat .inner-form input:focus {
  border-color: #fe5da3;
}

.chat .inner-form button {
  border-radius: 15px;
  border: 1px solid #fe5da3;
  background: #fe5da3;
  color: #fff;
  height: 32px;
  padding: 0 10px;
  margin-left: 10px;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
}

.chat .inner-form button:hover {
  background-color: #e94e9b;
  border-color: #e94e9b;
}

/* end chat */

 /* emoji-picker */
.tooltip {
  visibility: hidden;
}
.tooltip.shown{
  visibility: visible;
  opacity: 1;
}
 /* end emoji-picker */
