
extends ../../layouts/default.pug
include ../../mixins/box-head.pug
include ../../mixins/products-layout.pug

block main
    .container.my-3     
        .row 
            .col-12 
               +box-head("Sản phẩm nổi bật")
        +product-grid(productsFeatured)

    .container.my-3     
        .row 
            .col-12 
               +box-head("Sản phẩm mới")
        +product-grid(productsNew)