extends ../../layouts/default.pug
include ../../mixins/box-head.pug

block main

    .container.my-3     
        .row 
            .col-12     
                +box-head("Chat")

        .row    
            .col-12 
                .chat   
                    .inner-body
                        each chat in chats
                            div(class=(chat.inforUser.id == user.id ? "inner-outcoming":"inner-incoming"))
                                if(chat.inforUser.id != user.id)
                                    .inner-name #{chat.inforUser.fullName}
                                .inner-content
                                    | #{chat.content}  
                        //- .inner-outcoming
                        //-     .inner-content
                        //-         | DSAKFS
                        //- .inner-incoming
                        //-     .inner-name Em yêu
                        //-     .inner-content
                        //-         | DSdfsdfsdfsdfs
                        //- .inner-outcoming
                        //-     .inner-content
                        //-         | DSAKsfasdFS
                        //- .inner-incoming
                        //-     .inner-name Em yêu
                        //-     .inner-content
                        //-         | DSdfsdfsdsdsdsdfsdfssdsdddsrdefgsdgsdgsdfgsdgsdsd
                    .inner-foot
                        form(
                            action="" 
                            class="inner-form"
                        ) 
                            input(type="text" placeholder="Nhập nội dung..." name="content")
                            button 
                                i.fa-solid.fa-paper-plane