extends ../../layouts/default.pug
include ../../mixins/box-head.pug

block main
    .container.my-3     
        .row 
            .col-12 
               +box-head("Danh sách sản phẩm")

        .row
            .col-4.mb-3
                .product-item
                    .inner-image
                        img(src="https://cdn.dummyjson.com/product-images/1/1.jpg", alt="Iphone 9")
                    .inner-content
                        h3.inner-tiltle Iphone 9
                        .inner-price-new 80$
                        .inner-price-old 100$
                        .inner-discount -20%
                